section.features
  div.features__item
    h2 The Joy of brewing
    p We develop recieps, imported raw materials, experiment, and sprills brew beer in the friendly breweries.
  div.features__item
    h2 Zeus - original quality
    p This fancy beer in the style of American India Pale Ale. Red-copper-bodied, with citrus flavor and aroma, floral, resin, pine and fruit derived from American hops.
    a(class='btn' href='#') Check more