@import url('https://fonts.googleapis.com/css?family=Amiri:400,400i|Cinzel+Decorative:400,900');

body {
  font-family: 'Amiri', serif;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
}

p {
  font-size: 18px;
  font-style: italic;
}
